@font-face {
	font-family: Rosellinda Alyamore;
	src: url('Rosellinda Alyamore.otf');
}

footer{
		background-color: #363636;
		color: #ffffff;
		margin-top:20px;
		height:130px;
		padding-top:25px;
		text-align:center;
}

.iconeServ{
	width:96px;
	height:96px;
	margin-top:10px;
	margin-left:auto;
	margin-right:auto;
}

.conteudos{
	margin-top:10px;
}

.titulos{
		margin-top:25px;
		margin-bottom:30px;
}

.cardBorder{
		border-style:none;
}

.titulosBanner{
	color:#1E90FF;
	font-family: Rosellinda Alyamore;
	font-size:65px;
}

#quemsomos{
	height:100vh;
}

#especialidades{
	padding-top:250px;
	padding-bottom:250px;
	background-image: url(../img/especialidades.jpg);
	background-repeat:no-repeat;
	background-size:100% 100%;
	background-attachment:fixed;
}

#resultados{
	padding-top:250px;
	padding-bottom:250px;
	background-image: url(../img/resultados.jpg);
	background-repeat:no-repeat;
	background-size:100% 100%;
	background-attachment:fixed;
	margin-bottom:15px;
}
